Package: python3-cffi
Source: python-cffi
Version: 0.7.2-2mdv1
Architecture: i386
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 248
Depends: python3 (<< 3.3), python3 (>= 3.2.3-3~), python3-pycparser, libc6 (>= 2.4), libffi5 (>= 3.0.4)
Suggests: python3-dev
Section: python
Priority: optional
Homepage: http://cffi.readthedocs.org/
Description: Foreign Function Interface for Python 3 calling C code
 Convenient and reliable way of calling C code from Python 3.
 .
 The aim of this project is to provide a convenient and reliable way of calling
 C code from Python. It keeps Python logic in Python, and minimises the C
 required. It is able to work at either the C API or ABI level, unlike most
 other approaches, that only support the ABI level.
